.aistea-is {
  width: 100%;
}

.aistea-is__header {
  margin: 0 0 0.5rem;
}

.aistea-is__title {
  margin: 0;
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.aistea-is__figure {
  margin: 0;
  position: relative;
}

.aistea-is__canvas,
.aistea-is__image {
  display: block;
  width: 100%;
  height: auto;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.aistea-is__canvas {
  display: none;
}

.aistea-is.is-ready .aistea-is__canvas {
  display: block;
}

.aistea-is.is-ready .aistea-is__image {
  display: none;
}
